h1 {
	color: #ff6347;
	text-align: center;
}

p {
	text-align: center;
}

.cell input {
    display: inline-block;
    float: left;

    border: 1px solid black;
    width: 40px;
    height: 40px;

    text-align: center;
    font-size: 30px;
}

.centered-table {
   margin-left: auto;
   margin-right: auto;
}

.cell {
    background-color: #cecdcd;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.space-h {
	width: 5px;
}

.space-v {
	height: 5px;
}


.sudoku {
  font-size: 140%;
  text-align: center;
  
}
