html, body {
    height: 100%;
    overflow:hidden;
    font-family: Arial;
}

h1 {
	color: #ff6347;
	text-align: center;
}

p {
	text-align: center;
}

table {
	margin-left: 30.5%;
}

h2 {
    color: #ff6347;
    text-align: center;
    font-size: 30px;
}

button{
    background-color: #cecdcd;
    float: center;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    border-style: none;
    text-align: center;
    font-size: 30px;
    margin-right: 50%;
    margin-left: 50%;

}
.cell input {
    display: inline-block;
    background-color: #e8e8e8;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    border-style: none;
    caret-color: transparent;
}

.centered-table {
   margin-left: auto;
   margin-right: auto;
}

.cell {
    background-color: #cecdcd;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

.space-h {
	width: 5px;
}

.space-v {
	height: 5px;
}

#sudoku{
	height: 100%;
	width: 100%;
}

footer {
	background-color: #464545;
	color:white;
   	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	text-align: center;
   	font-family: Arial;
}

